@import url('../colors.css');
.reservationButton {
	padding: 1rem 3rem;
	max-width: 300px;
	background-color: transparent;
	border: 2px solid var(--pink-color);
	color: var(--pink-color);
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 2px;
	transition: color 0.4s;
	transition: background-color 0.4s;
}
.reservationButton:hover {
	color: #ffffff;
	background-color: var(--pink-color);
}
