@import url('../../colors.css');
.container {
	margin: 0 auto;
	width: 90%;
}

.imageContainer img {
	width: 28vw;
	margin: 0 auto;
}

.container button::before {
	color: black;
}
@media (max-width: 768px) {
	.imageContainer img {
		width: 40vw;
	}
}
@media (max-width: 576px) {
	.container {
		width: 75%;
	}
	.imageContainer img {
		width: 70vw;
	}
}
